<% include common/header.ejs %>

<body>
    <br>
    <h1 class="title">My Poems</h1>
    <br>
    <div class="tabs">
        <div class="tab active" id="tab1">When I Was Four</div><div class="tab" id="tab2">The True Meaning Of Christmas</div><div class="tab" id="tab3">The Beautiful In Winter</div>
    </div>
    <br>
    <br>
    <div class="poems-container">
        <div class="poem-field" id="poem1">
            <h2 class="poem-title">When I Was Four</h2>
            <h5 class="poem-author">by Vera Didenko</h5>
    <br>
    <br>
            <p class="poem-body">
                When I was four I was told 
                <br>That if I draw a lot,
                <br>I could become a wonderful artist.
                <br>What an interesting thought.
                <br>
                <br>
                <br>Indeed I always wished to draw
                <br>Amazing so that when anyone saw
                <br>My pictures would think they are real.
                <br>But what if they decide to steal
                <br>My masterpiece indeed?
                <br>For one would certainly inside
                <br>Fill with jealosy and greed.
                <br>But no, who could ever
                <br>In the whole wide world decide
                <br>To be so mean to a child
                <br>Just so meek and mild.
                <br>
                <br>
                <br>Siting and thinking on my bed,
                <br>I started to draw a horse’s head.
                <br>Trying my best, trying all day,
                <br>I drew a horse on a log 
                <br>And seeing it my mom did say:
                <br>“What a wonderful dog!”
                <br>
                <br>
                <br>Suddenly, the picture that I just started to admire,
                <br>The horse that I to draw as a photo did desire
                <br>Made me feel that ofcourse!
                <br>I drew a dog not a horse!
                <br>I still need to practice a lot
                <br>If I want to become an artist I thought.
                <br>
                <br>
            </p>
        </div>
        <div class="poem-field" id="poem2" style="display: none;">
            <h2 class="poem-title">The True Meaning Of Christmas</h2>
            <h5 class="poem-author">by Vera Didenko</h5>
    <br>
    <br>
            <p class="poem-body">
                What is Christmas? 
                <br>What does it mean?
                <br>Oh, everyone knows!
                <br>Or so it may seem…
                <br>
                <br>
                <br>Some say: “Presents and snow”
                <br>Others don’t really know:
                <br>“Perhaps it’s about 
                <br>Christmas cookie dough?”
                <br>
                <br>
                <br>“What does Christmas mean to me?”
                <br>Said a boy named Jimmy
                <br>“Who gets the most presents obviously!
                <br>Me or my brother Timmy.
                <br>Seeing Jolly Santa,
                <br>Who is actually fake,
                <br>For he is uncle Jerry,
                <br>Who helped my Mother bake.
                <br>Last Christmas the cookies he did make.”
                <br>
                <br>
                <br>My little sister answered this in reply
                <br>“I like to watch the snowflakes fly.
                <br>And Christmas is a time of year
                <br>To help someone in need.”
                <br>Now that is interesting to hear
                <br>From a little one indeed.
                <br>
                <br>
                <br>Many make a huge mistake
                <br>That Christmas is about a cake?!
                <br>A Santa clause,
                <br>Who is actually fake.
                <br>A competition involving things:
                <br>Who gets more diamonds and rings,
                <br>Who will first get that doll
                <br>From the most expensive mall.
                <br>That Christmas is about
                <br>Hot cocoa and sweets,
                <br>Different cookies
                <br>And special treats.
                <br>
                <br>
                <br>Now a lot of that we do get,
                <br>But it doesn’t mean we should forget
                <br>That Christmas is about giving,
                <br>Being kind and forgiving,
                <br>Showing others that we care 
                <br>Not about the things we buy
                <br>Or about the special treats,
                <br>But to this time really try
                <br>To be thoughtful, considerate and nice
                <br>And care about people too.
                <br>And help others realize
                <br>The meaning of Christmas
                <br>That is actually true.
                <br>
                <br>
            </p>
        </div>
        <div class="poem-field" id="poem3" style="display: none;">
            <h2 class="poem-title">The Beautiful In Winter</h2>
            <h5 class="poem-author">by Vera Didenko</h5>
    <br>
    <br>
            <p class="poem-body">
                “Winter… What a freezing time of year!”
                <br>My classmate wispered in my ear.
                <br>That day when she came to school
                <br>She wore a sweater made out of wool.
                <br>
                <br>
                <br>"With freezing cold winds
                <br>It freezes your nose,
                <br>It makes you shiver
                <br>Down to your toes!
                <br>You have to wear a hat
                <br>Which messes up your hair
                <br>It just isn’t fair!
                <br>People who like winter 
                <br>Are probably really rare!"
                <br>
                <br>
                <br>Later that day
                <br>On my way home 
                <br>I tried to find my way 
                <br>Through a snow storm.
                <br>
                <br>
                <br>“Indeed it is cold...
                <br>Freezing too!
                <br>What my friend said
                <br>Definately is true.”
                <br>
                <br>
                <br>As a strong cold wind
                <br>Blew at my face,
                <br>I knelt down to tie
                <br>My boot’s shoe lace.
                <br>
                <br>
                <br>And standing up with a sigh 
                <br>I looked at my hand.
                <br>Only to find that on it
                <br>A beautiful snowflake did land.
                <br>
                <br>
                <br>Now if only I could show,
                <br>If only I could find
                <br>That same snowflake
                <br>That made me change my mind,
                <br>That made me realize
                <br>That winter isn’t that bad,
                <br>In fact pretty nice.
                <br>
                <br>
                <br>With wonder and amazement
                <br>I studied that snowflake.
                <br>That beautiful complex design 
                <br>Just had to be fake!
                <br>
                <br>
                <br>And looking around outside in the snow,
                <br>That what I found,
                <br>That what I saw,
                <br>Made me speechless,
                <br>Left me in awe.
                <br>
                <br>
                <br>As before my eyes that night
                <br>I saw the most extraordinary sight:
                <br>I saw pure white fresh snow
                <br>Sparkle under a street light.
                <br>And I watched with great delight
                <br>Falling snowfakes too.
                <br>
                <br>
                <br>I would like to say to those who
                <br>Only know the freezing winter
                <br>That winter has a beauty too
                <br>And that is absolutely true.
                <br>
                <br>
            </p>
        </div>
    </div>
    <br>
<% include common/footer.ejs %>
